<div>
  <button (click)="toggleEmployee()">Display Employee</button>
  @if(showEmployees){
  <div>
    <h1>List of Employees</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        @for(emp of employees(); track emp.id;){ 
          @if(emp.role == "Marketing"){
        <tr>
          <td>{{ emp.id }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.role }}</td>
        </tr>
        } }@empty {
        <h2>No employees found !</h2>
        }
      </tbody>
    </table>
  </div>
  } @else {
  <h2>No employees to display</h2>
  }
</div>
